doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.8.3.js")
    Script(src="js/socket.io.js")

  body(onload="loadConversation(); setFocus(); loadUsers()")
    block content 
  
 

